name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  update_release_draft:
    name: Update Release Draft
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Draft Release
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  label_pr:
    name: Auto Label PR
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_target'

    steps:
      - name: Auto Label
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
